@import (reference) "G:\xampp\htdocs\RitaLess\rita-base";


#Front-grid{
    display: block;
    

    .prog-block{
        display: block;
        border-radius: 3px;
        overflow: hidden;
        margin: 50px 5%;
        
        position: relative;
        
        .ui-tab .tab--nav{
            background-color: #4A5665;
            padding-top: 20px;
            padding-right: 20px;
            li:not(.active) a,
            {
                color: #fff;
            }
            
            li:hover:not(.active) a{
                color: unset;
                background-color: #ccc;
            }
            
            
            .active{
                box-shadow: 2px -2px 0px 1px rgba(255, 255, 255, 0.43);
            }
        }
        .ui-tab .tab--container{
            
        }
        

    }
        .goto-full-prog{
            display: block;
            text-align: center;
            a{
          
            padding: 10px 20px;
            display: inline-block;
            margin: 0px auto;
            font-family: wtitr;
            font-size: 1.5em;
            text-align: center;
            color: #F0DD4E;
            background-color: #4A5665;
            box-shadow: 4px 4px 2px 0px #999;
            border-radius: 3px;
            
            
            }
        }    
    
}



.prog-list-container{
    .flex-box();
    .flex-row();
    .flex-wrap();
    
    
    
    
    .list-block{
        .flex-box();
        .flex-row();
        .flex(1);
        border: 1px solid silver;
        
    }
    
    .list-block+.list-block{
        margin-top: 5px;
    }
    
    .list-block .header{
        background-color: #3D57A3;
        height: 50px;
    } 
}